body{
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1 {
    text-align: center;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea,
select {
    margin: 10px 0px;
}