body {
  align-items: center;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.forms {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.labels {
  align-items: center;
  display: flex;
  flex-direction: column;
}

input, textarea, select {
  margin: 10px 0;
}
